Repository theoklitosBam7/bampouris-eu: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["yarn lint:fix"],
  "*.scss": ["prettier --write", "stylelint --fix"],
  "{*.{json,md,mdx}}": ["prettier --write"]
}

style: run lint fix
  src/constants/gitHubStats.ts
  src/pages/home/index.tsx
Due: yarn lint:fix

chore: remove pretty-quick precommit
  package.json
Due: none

chore: remove unnecessary curly braces from lintstagedrc
  .lintstagedrc
Due: none

chore: rename master branch to main
  docusaurus.config.js
Due: yarn lint:fix

docs(blog): add post unit testing tools for Angular
  blog/2022-01-21-setup-unit-testing-angular.mdx
Due: none

fix: add gtag config inside preset-classic
  docusaurus.config.js
Due: yarn lint:fix

feat(config): add strict mode & ts check to docusaurus
  docusaurus.config.js
  src/pages/home/index.tsx
  src/pages/index.tsx
  tsconfig.json
Due: yarn lint:fix

build(deps): add stylelint
  .stylelintrc
  package.json
  yarn.lock
Due: none

feat: remove w3.css from project
  docusaurus.config.js
  src/css/custom.scss
  src/elements/SectionElement.tsx
  src/models/SectionElementProps.ts
  src/pages/home/index.tsx
Due: yarn lint:fix, prettier --write, stylelint --fix

chore: update tagline
  docusaurus.config.js
Due: yarn lint:fix

feat: :tada: initial commit with astro
  .gitignore
  .vscode/extensions.json
  .vscode/launch.json
  README.md
  astro.config.mjs
  package-lock.json
  package.json
  public/blog-placeholder-1.jpg
  public/blog-placeholder-2.jpg
  public/blog-placeholder-3.jpg
  public/blog-placeholder-4.jpg
  public/blog-placeholder-5.jpg
  public/blog-placeholder-about.jpg
  public/favicon.svg
  public/fonts/atkinson-bold.woff
  public/fonts/atkinson-regular.woff
  src/components/BaseHead.astro
  src/components/Footer.astro
  src/components/FormattedDate.astro
  src/components/Header.astro
  src/components/HeaderLink.astro
  src/consts.ts
  src/content/blog/first-post.md
  src/content/blog/markdown-style-guide.md
  src/content/blog/second-post.md
  src/content/blog/third-post.md
  src/content/blog/using-mdx.mdx
  src/content/config.ts
  src/env.d.ts
  src/layouts/BlogPost.astro
  src/pages/about.astro
  src/pages/blog/[...slug].astro
  src/pages/blog/index.astro
  src/pages/index.astro
  src/pages/rss.xml.js
  src/styles/global.css
  tsconfig.json
Due: yarn lint:fix

chore: cleanup old files
  .eslintrc.js
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc
  .prettierignore
  .prettierrc
  .stylelintrc
  babel.config.js
  blog/2021-02-16-welcome.md
  blog/authors.yml
  commitlint.config.js
  docusaurus.config.js
  public/blog-placeholder-1.jpg
  public/blog-placeholder-2.jpg
  public/blog-placeholder-3.jpg
  public/blog-placeholder-4.jpg
  public/blog-placeholder-5.jpg
  public/blog-placeholder-about.jpg
  src/constants/gitHubStats.ts
  src/constants/skills.ts
  src/constants/socials.ts
  src/content/blog/avoid-memory-leaks-angular.md
  src/content/blog/first-post.md
  src/content/blog/markdown-style-guide.md
  src/content/blog/second-post.md
  src/content/blog/setup-unit-testing-angular.md
  src/content/blog/third-post.md
  src/content/blog/using-mdx.mdx
  src/css/custom.scss
  src/elements/SectionElement.tsx
  src/models/SectionElementProps.ts
  src/pages/home/index.tsx
  src/pages/home/styles.scss
  src/pages/index.tsx
  static/.nojekyll
  static/img/avatar1.jpg
  static/img/favicon.ico
  static/img/favicon.png
  yarn.lock
Due: yarn lint:fix, prettier --write, stylelint --fix

style: config and run prettier & eslint
  astro.config.mjs
  eslint.config.js
  package-lock.json
  package.json
  prettier.config.mjs
  src/components/BaseHead.astro
  src/components/Footer.astro
  src/components/FormattedDate.astro
  src/components/Header.astro
  src/components/HeaderLink.astro
  src/consts.ts
  src/content/blog/avoid-memory-leaks-angular.md
  src/content/config.ts
  src/layouts/BlogPost.astro
  src/pages/about.astro
  src/pages/blog/[...slug].astro
  src/pages/blog/index.astro
  src/pages/index.astro
  src/pages/rss.xml.js
  src/styles/global.css
Due: yarn lint:fix

chore: add configs and package info
  LICENSE
  package.json
  tsconfig.json
Due: none

feat: :sparkles: setup my pages & components
  public/logos/astro-icon-dark.svg
  public/logos/css-3.svg
  public/logos/html-1.svg
  public/logos/javascript-1.svg
  public/logos/lit-1.svg
  public/logos/react-2.svg
  public/logos/typescript.svg
  public/theoklitos-avatar-1.jpg
  src/components/Footer.astro
  src/components/Header.astro
  src/components/Skill.astro
  src/consts.ts
  src/layouts/BlogPost.astro
  src/pages/about.astro
  src/pages/index.astro
Due: yarn lint:fix

chore: add shiki config
  astro.config.ts
Due: yarn lint:fix

chore: add shiki config (#23)
  astro.config.ts
Due: yarn lint:fix

chore: upgrade to Astro 5.1.1 and update dependencies
  package-lock.json
  package.json
  tsconfig.json
Due: none

chore: upgrade to Astro 5.1.1 and update dependencies (#26)
  package-lock.json
  package.json
  tsconfig.json
Due: none

chore: add simple-git-hooks for pre-commit linting
  package-lock.json
  package.json
Due: none

chore: add lint-staged for pre-commit hook optimization
  package-lock.json
  package.json
Due: none

chore: setup simple git hooks (#27)
  package-lock.json
  package.json
Due: none

feat: integrate tailwindcss, add perfectionist rules
  astro.config.ts
  eslint.config.js
  package-lock.json
  package.json
  src/components/BaseHead.astro
  src/components/Footer.astro
  src/components/FormattedDate.astro
  src/components/Header.astro
  src/components/HeaderLink.astro
  src/components/Skill.astro
  src/layouts/BlogPost.astro
  src/pages/blog/[...slug].astro
  src/pages/blog/index.astro
  src/pages/index.astro
  src/pages/rss.xml.js
Due: yarn lint:fix

feat: add new sections and utilities
  .gitignore
  LICENSE
  README.md
  public/logos/vue-9.svg
  src/components/CallToAction.astro
  src/components/FeaturedProjects.astro
  src/components/Footer.astro
  src/components/GitHubStats.astro
  src/components/HeroSection.astro
  src/components/ProjectCard.astro
  src/components/TechStack.astro
  src/components/TechStackItem.astro
  src/pages/index.astro
  src/styles/global.css
  src/utils/github.ts
  src/utils/skeleton.ts
Due: yarn lint:fix

Integrate tailwindcss & add perfectionist rules (#31)
  .gitignore
  LICENSE
  README.md
  astro.config.ts
  eslint.config.js
  package-lock.json
  package.json
  public/logos/vue-9.svg
  src/components/BaseHead.astro
  src/components/CallToAction.astro
  src/components/FeaturedProjects.astro
  src/components/Footer.astro
  src/components/FormattedDate.astro
  src/components/GitHubStats.astro
  src/components/Header.astro
  src/components/HeaderLink.astro
  src/components/HeroSection.astro
  src/components/ProjectCard.astro
  src/components/Skill.astro
  src/components/TechStack.astro
  src/components/TechStackItem.astro
  src/layouts/BlogPost.astro
  src/pages/blog/[...slug].astro
  src/pages/blog/index.astro
  src/pages/index.astro
  src/pages/rss.xml.js
  src/styles/global.css
  src/utils/github.ts
  src/utils/skeleton.ts
Due: yarn lint:fix

feat: update components, layouts, and styles
  .github/copilot-instructions.md
  src/components/BaseHead.astro
  src/components/GitHubStats.astro
  src/components/Header.astro
  src/components/HeroSection.astro
  src/components/ProjectCard.astro
  src/components/TechStack.astro
  src/layouts/BlogPost.astro
  src/pages/blog/index.astro
  src/pages/index.astro
  src/styles/global.css
Due: none

feat: update components, layouts, and styles (#32)
  .github/copilot-instructions.md
  src/components/BaseHead.astro
  src/components/GitHubStats.astro
  src/components/Header.astro
  src/components/HeroSection.astro
  src/components/ProjectCard.astro
  src/components/TechStack.astro
  src/layouts/BlogPost.astro
  src/pages/blog/index.astro
  src/pages/index.astro
  src/styles/global.css
Due: none

feat: add blog and home styles
  src/layouts/BlogPost.astro
  src/pages/blog/[...slug].astro
  src/pages/blog/index.astro
  src/pages/index.astro
  src/styles/blog.css
  src/styles/global.css
  src/styles/home.css
Due: none

feat: add blog and home styles (#33)
  src/layouts/BlogPost.astro
  src/pages/blog/[...slug].astro
  src/pages/blog/index.astro
  src/pages/index.astro
  src/styles/blog.css
  src/styles/global.css
  src/styles/home.css
Due: none

feat(blog): add MCP Git Commit Generator post
  src/components/Header.astro
  src/content/blog/mcp-git-commit-generator.md
Due: none

feat(blog): add MCP Git Commit Generator post (#34)
  src/components/Header.astro
  src/content/blog/mcp-git-commit-generator.md
Due: none

build(deps): upgrade Astro to 5.12.9
  package-lock.json
  package.json
  src/content/blog/mcp-git-commit-generator.md
Due: none

build(deps): upgrade Astro to 5.12.9 (#36)
  package-lock.json
  package.json
  src/content/blog/mcp-git-commit-generator.md
Due: none

build(deps): upgrade dependencies
  package-lock.json
  package.json
Due: none

build(deps): upgrade dependencies (#38)
  package-lock.json
  package.json
Due: none

build(deps): upgrade dependencies (#47)
  package-lock.json
  package.json
Due: none

feat(astro): migrate to Astro v6 Content Layer API
  package.json
  pnpm-lock.yaml
  src/components/home/LatestPosts.astro
  src/content.config.ts
  src/pages/blog/[...slug].astro
  src/pages/blog/index.astro
  src/pages/rss.xml.js
Due: yarn lint:fix
